*{
    box-sizing: border-box;
}
html{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
}

@import 'components/fonts';
@import 'components/values';
@import 'components/helpers';

@import 'components/shadow';

@import 'components/card';
@import 'components/list';
@import 'components/button';
@import 'components/popup';
@import 'components/modal';
@import 'components/form';
@import 'components/ripple';