$paddingButton: 8px 16px;
$heightButton: 36px;

@mixin btn-color($color){
    color: #fff;
    background-color: $color;

    &:hover,
    &:focus{
        background-color: darken($color, 5%);
        color: #fff;
    }
    &:active{
        background-color: darken($color, 10%);
        color: #fff;
    }
}

@mixin text-color($color){
    color: darken($color, 5%);
}

// Flat button used as a base for others.
.btn-base{
    @extend .nowrap;

    display: inline-block;
    position: relative;
    overflow: hidden;
    height: $heightButton;
    padding: $paddingButton;

    border: none;
    border-radius: $component-radius;
    outline: 0;

    background-color: $color-transparent;
    
    font-weight: bold;
    font-size: 14px;
    font-family: $font-stack; // Needed for Firefox.
    text-transform: uppercase;
    text-decoration: none;
    color: $color-text;
    text-align: center;

    cursor: pointer;

    &:active,
    &:active:focus{
        outline: 0;
        border: none;
    }

    &[disabled]{
        pointer-events: none;
    }

    &::-moz-focus-inner { 
        border: 0;
        padding: 0;
    }
}

.btn{
    @extend .btn-base;

    &:hover,
    &:focus{
        outline: 0;
        border: none;

        background-color: $color-button-hover;
        box-shadow: none;

        color: $color-text;
        text-decoration: none;
    }

    &:active{
        box-shadow: none;
    }

    &[disabled]{
        &,
        &:hover,
        &:focus,
        &:active{
            color: $color-button-disabled;
            background-color: $color-transparent;
        }
    }
}

// Raised buttons.
.btn-raised{
    @extend .btn-base;
    @extend .shadow-btn;

    background-color: rgba(#000, .06);
    
    &:hover,
    &:focus{
        @extend .shadow-btn-hover;

        outline: 0;
        border: none;

        color: $color-text;
        text-decoration: none;
    }

    &:active{
        box-shadow: none;
    }

    &[disabled]{
        &,
        &:hover,
        &:focus,
        &:active{
            @extend .shadow-btn;

            color: $color-button-raised-disabled-text;
            background-color: $color-button-raised-disabled;
        }
    }
}

// Colored buttons.
.btn-primary{
    @include btn-color($color-primary);
}
.btn-danger{
    @include btn-color($color-danger);
}
.btn-info{
    @include btn-color($color-info);
}
.btn-warning{
    @include btn-color($color-warning);
}
.btn-success{
    @include btn-color($color-success);
}

// Text-colored buttons.
.text-primary{
    @include text-color($color-primary);
}
.text-secondary{
    @include text-color($color-secondary);
}
.text-danger{
    @include text-color($color-danger);
}
.text-info{
    @include text-color($color-info);
}
.text-warning{
    @include text-color($color-warning);
}
.text-success{
    @include text-color($color-success);
}