.card{
    background: #fff;
    border-radius: $componentRadius;
    @extend .shadow-1;

    &-header{
        border-bottom: 1px solid $lightGray;
        @extend .component-header;
    }

    &-body{
        padding: $spaceM;
    }

    &-footer{
        @extend .component-footer;

        border-top: 1px solid $lightGray;
        background-color: $whiteGray;
    }
}