.nowrap{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.small{
    font-size: .8rem;
    color: $color-grey-medium;
}

.component-header{
    padding: $space-m;

    background-color: #fff;

    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.component-body{
    padding: $space-m;
}

.component-footer{
    padding: $space-m;
    overflow: hidden;

    .btn-base{
        float: right;
        margin-left: $space-s;
    }
}