.nowrap{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.component-header{
    padding: $spaceM;

    background-color: #fff;

    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.component-body{
    padding: $spaceM;
}

.component-footer{
    padding: $spaceM;
    overflow: hidden;

    .btn-base{
        float: right;
        margin-left: $spaceS;
    }
}