.list{
    @extend .shadow-1;
}

.list-header{
    @extend .component-header;

    border-bottom: 1px solid $lightGray;
}

.list-item{
    display: block;
    position: relative;
    overflow: hidden;

    padding: $spaceM;

    background-color: #fff;

    border-bottom: 1px solid $lightGray;

    &:last-child{
        border: none;
    }

    // Lists inside popups are more dense.
    .popup &{
        padding: $spaceS;
    }
}

a.list-item{
    color: $colorText;
    text-decoration: none;

    &:hover,
    &:focus{
        background-color: darken(#fff, 8%);
        color: $colorText;
        text-decoration: none;
    }

    &:active{
        background-color: darken(#fff, 16%);
        color: $colorText;
        text-decoration: none;
    }
}