/* Popup */
.popup{
    @extend .shadow-1;

    display: none;
    position: absolute;
    min-width: 150px;
    max-width: 500px;
    z-index: 50;

    background-color: #fff;
}
.popup-header{
    @extend .component-header;
    padding: $space-s;
}
.popup-content{
    padding: $space-s;
}