$space-t: 5px;
$space-s: 10px;
$space-m: 15px;
$space-l: 30px;

$font-stack: 'Roboto', sans-serif;


// Colors.
$color-primary: color("blue-grey", "base");
$color-secondary: color("light-blue", "base");
$color-danger: color("red", "darken-1");
$color-info: color("blue", "base");
$color-warning: color("orange", "base");
$color-success: color("green", "base");

$color-grey-medium: color("grey", "base");

$color-text: color("grey", "darken-4");
$color-transparent: rgba(255, 255, 255, 0);



// Components globals.
$component-radius: 2px;
$color-component-inner-border: color("grey", "lighten-3");
$color-component-footer: color("grey", "lighten-4");

// FORMS //
$color-form-active: color("teal", "base");

$color-form-border: color("grey", "lighten-1");
$color-form-background: color("shades", "transparent");
$color-form-disabled-border: color("grey", "lighten-2");
$color-form-disabled: color("grey", "lighten-2");
$color-form-placeholder: color("grey", "lighten-1");

// Buttons.
$color-button-disabled: rgba(#000, .26);
$color-button-hover: rgba(153, 153, 153, 0.2);
$color-button-focus: $color-button-hover;
$color-button-raised-disabled: rgba(#000, .12);
$color-button-raised-disabled-text: rgba(#000, .26);

// Radio Buttons
$radio-label-color: $color-text;
$radio-fill-color: $color-form-active !default;
$radio-empty-color: #5a5a5a !default;
$color-radio-disabled: color("grey", "base");
// Checkboxes
$color-checkbox-disabled: $color-radio-disabled;
// Switches
$color-switch-disabled: $color-radio-disabled;
$switch-bg-color: $color-form-active !default;
$switch-checked-lever-bg: desaturate(lighten($color-form-active, 25%), 50%) !default;
$switch-unchecked-bg: #F1F1F1 !default;
$switch-unchecked-lever-bg: #818181 !default;


// Media queries
$width-xs-min: 0px;
$width-xs-max: 767px;
$width-sm-min: 768px;
$width-sm-max: 991px;
$width-md-min: 992px;
$width-md-max: 1199px;
$width-lg-min: 1200px;

$media-xs-sm: "(max-width: " + $width-sm-max + ")";