$spaceT: 5px;
$spaceS: 10px;
$spaceM: 15px;
$spaceL: 30px;

$fontStack: 'Roboto', sans-serif;


// Colors.
$lightGray: #eee;
$whiteGray: #f2f2f2;
$mediumGray: #999;

$colorPrimary: #607D8B;
$colorDanger: #F44336;
$colorInfo: #2196F3;
$colorWarning: #FF9800;
$colorSuccess: #4CAF50;

$colorText: #333;
$colorTransparent: rgba(255, 255, 255, 0);
$colorForm: #009688;


// Radius.
$componentRadius: 2px;